<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="estilos.css">
    <title>Calavera No Chilla</title>
</head>

<body>
    <!-- portada -->
    <a href=""> <img src="../img/alcohol.jpg" alt=""></a>
    <!-- lista -->
    <div class="barra-nav">
        <ul>
            <li class="">
                <a href="http://" target="_blank" rel="noopener noreferrer">Quienes somos</a>
                <!-- <a href="">Quienes somos</a> -->
            </li>
            <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">Nuestros productos</a>
                <!-- <a href="">Nuestros productos</a> -->
            </li>
            <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">Promos</a>
                <!-- <a href="">Promos</a> -->
            </li>
            <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">Dejanos tu opinion</a>
            </li>
        </ul>
    </div>


</body>

</html>